@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
hr {
	border: 1px solid #efefef;
}
.container {
	max-width: 1400px;
	padding: 2% 7%;
	margin: auto;
}
.flex {
	display: flex;
}
.text-white {
	color: #fff;
}
.text-blue-1 {
	color: #39a2db;
}
.text-blue-2 {
	color: #a2dbfa;
}
.text-center {
	text-align: center;
}

/* ---------Navbar--------- */
nav {
	justify-content: space-between;
}
nav img {
	width: 140px;
}
nav ul {
	list-style-type: none;
	align-items: center;
}
nav ul li {
	padding-left: 50px;
}
nav ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}
nav ul li a:hover {
	color: #39a2db;
}
li > a:after {
	content: '';
	display: block;
	height: 2px;
	background: #39a2db;
	transform: scaleX(0);
	transition: transform 0.3s;
}

li > a:hover:after {
	transform: scaleX(1);
	transition: transform 0.3s;
}

.active-nav {
	color: #39a2db;
	border-bottom: 3px solid #39a2db;
}

li > .active-nav:after {
	display: none;
}

/* -------Jumbotron-------- */
.jumbotron {
	align-items: center;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	margin-top: 90px;
}
h1 {
	color: #053742;
	font-weight: 500;
	font-size: 42px;
}
h2 {
	font-weight: 500;
	font-size: 38px;
}
h5 {
	font-size: 24px;
	font-weight: 500;
}
.jumbotron-img {
	flex: 50%;
	max-width: 400px;
	text-align: end;
}
.text-jumbotron {
	flex: 50%;
	max-width: 50%;
}
.text-jumbotron p {
	padding: 14px 0 20px;
	font-size: 20px;
	font-weight: 300;
}
.btn-blue {
	margin-top: 10px;
	color: #fff;
	background-color: #39a2db;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	transition: 0.3s;
}
.btn-blue:hover {
	background-color: #56bdf5;
}

#goal {
	background-color: #053742;
	text-align: center;
	margin-top: 6%;
}
.content-goal {
	padding: 40px 0;
}
.content-goal p {
	margin: 30px auto;
	line-height: 150%;
	font-weight: 300;
	max-width: 1000px;
	font-size: 22px;
}

/* -------Specials-------- */
#specials {
	text-align: center;
}
.special-body {
	padding: 80px auto;
	margin: 50px 0;
}
.special-content {
	justify-content: space-between;
	margin-top: 80px;
}
.special-item {
	max-width: 347px;
}
.special-item .icon {
	font-size: 48px;
	background-color: #053742;
	color: #fff;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	margin: auto;
}

.special-content .icon i {
	position: relative;
	top: 18%;
}
.special-item h5 {
	margin: 12px 0;
}
.special-item p {
	font-weight: 300;
	font-size: 20px;
}

/* --------Testimonial--------- */
#testimoni {
	text-align: center;
	padding-bottom: 80px;
}
#testimoni h2 {
	margin-top: 60px;
}
.slider {
	margin-top: 40px;
	justify-content: space-around;
	position: relative;
}
.card {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	border-radius: 8px;
	padding: 30px;
	max-width: 500px;
	text-align: left;
}
.profile-bidan {
	align-items: center;
	margin: auto 0 auto 20px;
}
.profile-bidan h6 {
	font-size: 18px;
	color: #053742;
}
.profile-bidan p {
	font-size: 16px;
	color: #606060;
	font-weight: 400;
}
.caption-testi {
	margin-top: 20px;
	font-size: 16px;
	line-height: 150%;
	color: #606060;
}
.question-content {
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 50px;
}
.text-question {
	margin: auto 0;
}
.text-question button {
	margin-top: 40px;
}
.question-img {
	width: 18%;
	margin-right: 40px;
}

.footer-content {
	justify-content: space-between;
}
.col {
	max-width: 350px;
}
.col h6 {
	font-size: 16px;
	font-weight: 400;
}
.prev,
.next {
	position: absolute;
	top: 40%;
	margin-top: -22px;
	width: auto;
	padding: 40px 16px;
	color: #053742;
	font-weight: 500;
	font-size: 28px;
	border: none;
	background-color: transparent;
	border-radius: 0 3px 3px 0;
	user-select: none;
	cursor: pointer;
}
.prev {
	left: 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: #e8f0f2;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

/* --------Footer-------- */
footer {
	background-color: #053742;
	color: #fff;
	padding: 20px 0;
}
.footer-content {
	flex-wrap: wrap;
}
.footer-logo {
	max-width: 110px;
}
.img-white {
	filter: brightness(0) invert(1);
}
.col p {
	font-size: 15px;
}
.hub,
.col a {
	margin-bottom: 12px;
}
.hub p {
	margin-left: 8px;
}
.col a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
.col a:hover {
	color: #56bdf5;
}
.p-regular {
	font-weight: 400;
}
.p-light {
	font-weight: 300;
}
.p-logo {
	margin-top: 8px;
}
.pointer {
	cursor: pointer;
}

.line-title-footer {
	margin: 10px 0 18px;
	width: 60px;
	border: 0.5px solid #a2dbfa;
	opacity: 100%;
}
.copyright {
	margin-top: 10px;
	font-size: 14px;
}
.copyright span:hover {
	color: #39a2db;
}
.copyright-line {
	border-color: #004150;
}

/* -----------About----------- */
#profile {
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	flex-wrap: wrap-reverse;
}
#profile img {
	width: 60%;
	min-width: 200px;
}
.content-profile {
	flex: 50%;
	align-items: center;
}
aside {
	flex: 50%;
	text-align: end;
}
.content-profile h3 {
	margin: 6px 0 10px;
}
.content-profile article {
	font-size: 18px;
}
.socmed div {
	margin-right: 20px;
	margin-top: 30px;
	font-size: 24px;
	border-radius: 50%;
	color: #fff;
	width: 40px;
	height: 40px;
	transition: 0.4s;
	cursor: pointer;
}
.socmed i {
	position: relative;
	top: 7.5px;
	left: 7.5px;
}

.socmed div:hover {
	font-size: 25px;
}
#linkedin {
	background-color: #0a66c2;
}
#instagram {
	background-color: #ed6767;
}
#discord {
	background-color: #5662f6;
}
#contact-me {
	margin-top: 80px;
}

/* ----------Contact---------- */
.contact {
	justify-content: space-between;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
	padding: 50px 80px;
	align-items: center;
}
.content-profile h3 {
	font-size: 24px;
}
.content-profile p {
	font-size: 18px;
}
.contact-input {
	display: block;
	margin-top: 20px;
	max-width: 550px;
}
.contact-input input,
.contact-input textarea {
	width: 100%;
	border: 1px solid #a2dbfa;
}
.contact-input input {
	height: 30px;
	margin: 10px 0 18px;
}
.contact-input textarea {
	height: 80px;
	margin: 10px 0 18px;
}
.button-send {
	border: none;
	background-color: #39a2db;
	color: #fff;
	border-radius: 6px;
	padding: 10px 28px;
	cursor: pointer;
}
